/* Global Stlye Reset */
*{
    margin: 0;
    padding: 0;
}

/* Body global style */
body{
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    color: #95ad18;
    background-color: #18285c;
    text-shadow: 2px 3px 2px black;
    text-align: center;
    display: block;
}

h1{
    font-size: 8rem;
}

h3{
    font-size: 2.65rem;
}

em{
    font-weight:400;
    text-decoration: dashed underline;
}

p{
    text-align: left;
    padding: 5rem 25rem 5rem 40rem;
    font-size: 1.25rem;
}

.banner{
    padding-top: 2rem;
    text-align: center;
}

.explainer{
    max-width: inherit;
}

.submit-btn{
    padding-top: 0.5rem;
}